@import url(https://fonts.googleapis.com/css?family=IM+Fell+French+Canon);
@import 'bootstrap-sprockets';
@import 'bootstrap';

.nav{
    background-color: transparent;
    //font-family: "Times New Roman", Times, serif;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;

} 


.item img { 
	border: none;
	width: 940px; 
	box-shadow: none;
	height: 350px; 
	
} 

.bx-wrapper{ 
	border: none !important;
	 -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	//top: -5px;
	//border-left-width: -5px;
	//border-right-width: -0px;	
}
.bx-slider{
	border: none;
	max-width: 950px; 
	height: 320px; 
}
.bx-viewport{
	border: none;
	 -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	width: 950px;
	height: 300px;
    overflow: hidden;
    position: relative;
    //top: -5px;

}

body {
  background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, grey, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, grey, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, grey, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, grey,grey); /* Standard syntax */
}


.image2 img { 
	padding-left: 10px;
	float: left;
    width: 180px;
    height: 125px;
} 
.image3 img { 
	padding-left: 12px;
	float: left;
    width: 45px;
    height: 30px;

} 

#grad {
  width: 940px;
  background: black; /* For browsers that do not support gradients */
}

#title {
	color: white;
    padding: 0px 0px 5px 20px;
    height: 150px;
    width: 545px;
    float: left;
}

#right{
	color: white;
    padding: 10px 5px 10px 20px;
    float: right;
    height: 82px;
    width: 185px;
    //text-align: right;
}
#connect{
	color: white;
    padding: 0px 10px 30px 15px;
    float: right;
    height: 68px;
    width: 185px;
}

h2{
	color:white;
	font-weight:bold;
}
h3{
	color:white;
	font-weight:bold;
	text-align:center;
}
h4{
	color:white;
	font-weight:bold;
}

p{
	color:white;
}
.vertical-divider{
	clear: both;
	position: relative;
}

.vertical-divider:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

.vertical-divider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
	background: #DDDDDD;
	bottom: 0;
	content: " ";
	margin-left: -10px;
	position: absolute;
	top: 0;
	width: 1px;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
	width: 95%;
}
.nav ul {
    *zoom:1;
    list-style:none;
    background:black;
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
   clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
}
.nav a {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
    color:#fff;
    //border-left:1px solid #595959;
}
.nav a:hover {
    text-decoration:none;
    background:#595959;

}
.nav li ul {
    background:black;
}
.nav li ul li {
	left: -40px;
    width:210px;
}
.nav li ul a {
    padding: 10px 5px 10px 5px ;
    border-color: white;
}
.nav li ul a:hover {
	width: 100% !important;
    background:grey;
}

.nav li ul {
    position:absolute;
    left: 0px;
    top:35px;
    z-index:1;
}
.nav li ul li {
    overflow:hidden;
    height:0;
    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}
.nav ul > li:hover ul li {
    height:40px;
    width: 210px;
   color: white;
}

/* Very simple grid for example */
.container { position: relative; width: 960px; margin: 20px auto; padding: 0; }

.container .column, .container .columns { float: left; display: inline; margin-left: 25px; margin-right: 0px; }

.container .one-third.column { width: 30%; }

.two-thirds.column { 
	width: 50%;
	margin-right:-10px !important;   
	font-family: "Times New Roman", Times, serif;
}

